ion-tab-bar{
    background-color: #2b2b2b;
}

.bthome{
    background-color: #2b2b2b;
}

.btsearch{
    background-color: #2b2b2b;
}

.btbookmarks{
    background-color: #2b2b2b;
}

ion-icon{
    color: white;
}