<ion-header>

</ion-header>

<ion-content padding class="bg-class">
    <h6>Tocadas recentemente</h6>

    <ion-slides pager="false" [options]="sliderConfig">

        <ion-slide>
          <img src="/assets/img/capa2.jpg" class="capas">
        </ion-slide>
    
        <ion-slide>
          <img src="/assets/img/capa4.jpg" class="capas">
        </ion-slide>
    
        <ion-slide>
          <img src="/assets/img/capa1.jpg" class="capas">
        </ion-slide>

        <ion-slide>
          <img src="/assets/img/capa3.jpg" class="capas">
        </ion-slide>

        <ion-slide>
          <img src="/assets/img/capa5.jpg" class="capas">
        </ion-slide>

        <ion-slide>
          <img src="/assets/img/capa6.jpg" class="capas">
        </ion-slide>

    </ion-slides>

    <h4>Não sai dos seus ouvidos</h4>

    <ion-slides pager="false" [options]="sliderConfig">

        <ion-slide>
          <img src="/assets/img/capa6.jpg" class="capas">
        </ion-slide>
    
        <ion-slide>
          <img src="/assets/img/capa5.jpg" class="capas">
        </ion-slide>
    
        <ion-slide>
          <img src="/assets/img/capa2.jpg" class="capas">
        </ion-slide>

        <ion-slide>
          <img src="/assets/img/capa3.jpg" class="capas">
        </ion-slide>

        <ion-slide>
          <img src="/assets/img/capa4.jpg" class="capas">
        </ion-slide>

        <ion-slide>
          <img src="/assets/img/capa1.jpg" class="capas">
        </ion-slide>

    </ion-slides>

    <h4>Escute de novo</h4>

    <ion-slides pager="false" [options]="sliderConfig">
      
        <ion-slide>
          <img src="/assets/img/capa7.jpg" class="capas">
        </ion-slide>
      
        <ion-slide>
          <img src="/assets/img/capa8.jpg" class="capas">
        </ion-slide>
    
        <ion-slide>
          <img src="/assets/img/capa9.jpg" class="capas">
        </ion-slide>

        <ion-slide>
          <img src="/assets/img/capa3.jpg" class="capas">
        </ion-slide>

        <ion-slide>
          <img src="/assets/img/capa5.jpg" class="capas">
        </ion-slide>

        <ion-slide>
          <img src="/assets/img/capa6.jpg" class="capas">
        </ion-slide>

        
    </ion-slides>

    <h4>Feito para Usuário</h4>

    <ion-slides pager="false" [options]="sliderConfig">

        <ion-slide>
          <img src="/assets/img/capa10.jpg" class="capas">
        </ion-slide>
    
        <ion-slide>
          <img src="/assets/img/capa11.jpg" class="capas">
        </ion-slide>
    
        <ion-slide>
          <img src="/assets/img/capa3.jpg" class="capas">
        </ion-slide>

        <ion-slide>
          <img src="/assets/img/capa3.jpg" class="capas">
        </ion-slide>

        <ion-slide>
          <img src="/assets/img/capa5.jpg" class="capas">
        </ion-slide>

        <ion-slide>
          <img src="/assets/img/capa6.jpg" class="capas">
        </ion-slide>

    </ion-slides>



</ion-content>
